# editors #
###########
.vscode
.idea/
/venv
.saved-info.txt

# Example Specific Files #
##########################
/hive-watcher/examples/write-to-csv-analyze-with-R/data*
### R ###
# History files
/hive-watcher/examples/write-to-csv-analyze-with-R/.Rhistory
# Session Data files
/hive-watcher/examples/write-to-csv-analyze-with-R/.RData
# User-specific files
/hive-watcher/examples/write-to-csv-analyze-with-R/.Ruserdata
